/* Базовые стили */

:root {
  --main-coefficient: 2px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Prata", "Great Vibes", sans-serif;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.invitation {
  max-width: 100%;
  width: 100%;
  margin: auto;
  position: relative;
}

header {
  text-align: center;
  margin-bottom: 20px;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.top-leaf,
.bottom-leaf {
  width: 142px;
  height: 162px;
}

.top-leaf {
  top: 0;
  left: 0;
  position: absolute;
  rotate: 180deg;
}

.bottom-leaf {
  bottom: 0;
  right: 0;
  position: absolute;
}

header img {
  display: block;
}

h1 {
  font-size: calc(var(--main-coefficient) + 48px);
  color: #6b8e23;
  margin-bottom: 10px;
  font-family: "Great Vibes";
  position: relative;
  line-height: 0.9;
  text-align: left;
  margin-top: 60px;
}

h1 > span {
  font-family: sans-serif;
  position: absolute;
  opacity: 0.5;
  font-size: calc(var(--main-coefficient) + 183px);
  left: -50px;
  top: -50px;
  color: #ddded8;
  z-index: -1;
}
.date {
  font-size: calc(var(--main-coefficient) + 14px);
  color: #000000;
  margin-bottom: 20px;

  font-family: "Prata";
}

.greeting {
  margin-top: 120px;
  padding: 0 10px;
}
.greeting h2 {
  font-size: calc(var(--main-coefficient) + 32px);
  color: #000000;
  text-align: center;
  margin-bottom: 10px;
  border-bottom: 2px solid #6b8e23;
  font-family: "Great Vibes";
  line-height: 0.5;
  font-weight: 400;
}

.greeting p {
  text-align: center;
  font-size: calc(var(--main-coefficient) + 14px);
  margin-top: 30px;
  font-family: "Prata";
}

.greeting p span {
  font-family: "Great Vibes";
  font-size: calc(var(--main-coefficient) + 36px);
  color: #677f4e;
}

hr {
  color: #6b8e23;
  margin-bottom: 45px;
  width: 100%;
}
.details {
  margin-top: 30px;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.details_tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 400px;
}

.details img {
  position: absolute;
  bottom: -75px;
  left: 35px;
  z-index: -1;
  scale: 1.3;
}

.details h3 {
  font-size: calc(var(--main-coefficient) + 16px);
  margin-bottom: 5px;
  text-align: center;
  font-family: "Prata";
}

.details .p {
  font-family: "Great Vibes";
  text-align: center;
  font-size: calc(var(--main-coefficient) + 24px);
}

.details p span {
  font-family: "Prata";
  text-align: center;

  color: #6b8e23;
}

.event-date {
  font-size: calc(var(--main-coefficient) + 36px);
  color: #6b8e23;
  margin-bottom: 15px;
  font-family: "Great Vibes";
  text-align: center;
}

.timing {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  position: relative;
  overflow: hidden;
}

.timing_tile {
  background-color: #ddded8;
  padding: 15px;
  border-radius: 8px;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  width: 298px;
  height: 280px;
}

.timing_tile > img {
  position: absolute;
  bottom: -25px;
  right: -10px;
  rotate: 10deg;
}

.timing h2 {
  color: #000000;
  margin-bottom: 10px;
  font-family: "Great Vibes";
  font-size: calc(var(--main-coefficient) + 32px);
}

.timing ul {
  list-style-type: none;
  padding-left: 0;
}

.timing li {
  font-size: calc(var(--main-coefficient) + 36px);
  color: #6b8e23;
  margin-bottom: 10px;
  font-family: "Great Vibes";
}

.timing li span {
  color: #000000;
  font-size: calc(var(--main-coefficient) + 32px);
}

.important-notes {
  margin-top: 50px;
  padding: 0 10px;
}

.important-notes h2 {
  font-size: calc(var(--main-coefficient) + 23px);
  color: #000000;
  margin-bottom: 10px;
  font-family: "Great Vibes";
}

.important-notes p {
  font-size: calc(var(--main-coefficient) + 24px);
  line-height: 1.6;
  font-family: "Great Vibes";
  color: #6b8e23;
}

.accept-button {
  display: block;
  margin: 20px auto;
  background-color: #ddded8;
  border: none;
  border-radius: 8px;
  font-size: calc(var(--main-coefficient) + 32px);
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 262px;
  height: 67px;
  font-family: "Great Vibes";
  margin-top: 40px;
}

.accept-button a {
  text-decoration: none;
  color: #6b8e23;
}

.accept-button:hover {
  background-color: #e0e0e0;
}

/* Медиазапросы */

/* .container {
  width: 320px;
  margin: 0 auto;
  padding: 10px;
} */
